[submodule "imsakiyah-api-go"]
	path = imsakiyah-api-go
	url = https://github.com/muharromi42/imsakiyah-api-go.git
[submodule "ramadhan-tracker"]
	path = ramadhan-tracker
	url = https://github.com/ifalfahri/ramadhan-tracker
[submodule "ramadhan-imsakiyah"]
	path = ramadhan-imsakiyah
	url = https://github.com/elrizwiraswara/ramadhan_imsakiyah
