*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  font-family: "Pacifico", cursive;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.text-container {
  font-size: 4rem;
  color: white;
  position: relative;
  width: max-content;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: white;
  margin-left: 5px;
  animation: blinkCursor 0.8s infinite;
}
@keyframes blinkCursor {
  50% {
    opacity: 0;
  }
}
.video-container {
  display: none;
  width: 80%;
  max-width: 800px;
}
